span {
  color: green;
}

.click-number {
  color: blue;
  font-size: 2em;
  font-family: Helvetica;
}

img {
  max-width: 400px;
}

.cat-box {
  float: right;
}

.sidebar {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 35px;
}

.sidebar-entry {
  font-size: 2em;
  color: blue;
  border: 2px solid red;
  display: block;
}
