body {
  background-color: navy;
}

header {
  background-color: navy;
  color: white;
  width: 100%;
  height: 150px;
  text-align: center;
  display: block;
}

span {
  color: green;
}

.click-number {
  color: white;
  font-size: 2em;
  font-family: Helvetica;
}

img {
  width: 400px;
  max-height: 250px;
  cursor: pointer;
  display: block;
  margin-left: 80px;
}

.cat-box {
  float: right;
  text-align: center;
}

.sidebar {
  float: left;
  display: block;
  flex-wrap: wrap;
  width: 35px;
  color: white;
  font-size: 2em;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-entry {
  font-size: 2em;
  color: white;
  display: block;
}

.cat-name {
  font-size: 2em;
  color: white;
  font-family: fantasy;
  font-style: italic;
  display: block;
  text-align: center;
  margin-top: 37px;
}

.container {
  float: right;
  width: 550px;
  height: 400px;
  background-color: green;
}

.click-area {
  display: block;
  text-align: center;
}
